<div class="fixed-action-btn">
  <span style="color: gray">Xarajat Qo'shish</span>  <a href="/expenses/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div>