<nav class="cyan darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Xarajatlar ro'yxati</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/expenses">Ommaviy Xarajatlar</a></li>
            <li><a href="/dashboard">Asosiy Panel</a></li>
            <br>
            <br>
            <li><a href="/auth/logout">Chiqish ></a></li>
        </ul>
    </div>
</nav>