<h1><i class="fas fa-book-reader large"></i></h1>
<div class="section">
    <p class="lead" style="font-size:xx-large; color:blueviolet;
     font-family: cursive">Xarajatlaringizni Istalgan Vaqt Kuzatib Boring</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="waves-effect waves-light red btn">
    <i class="fab fa-google left"></i>Google orqali kirish
    </a>
</div>

<br>
<br>

  <div class="row">
    
      <div class="card">
        <div class="card-image">
          <img src="/img/img1.jpg">
        </div>
        <div class="card-content">
          <p><h3 style="color:gray; font-family:monospace"> Bu yerda siz kundalik va doimiy xarajatlaringizni kiritib boring, istalgan vaqtda xarajat haqida to'liq ma'lumot olishingiz, o'zgartirishingiz, hamda ro'yxatdan olib tashlashingiz mumkin </h3></p>
        </div>
      </div>
    
  </div>

